/* 
Creator: Zeynep Tezduyar
Date Created: 13 July 2020
Date last modified:
*/

body{
    background-color: #255E69;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    max-width: 900px; /* makes it stand in the middle (commonly between 900-1200)*/
    margin: 0 auto;
}

header{
    background-color: #012C34;
    height: 100px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}

h1{
    font-size: 2.5em;
}

nav{
    border-top: 3px dashed #012C34;
    border-bottom: 3px dashed #012C34;
    margin-top: 4px;
}

nav a {
    background-color: #012C34;
    color: white;
    padding: 8px;
    border: thin solid #012C34;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px;
    width: 100px;
    float: left;
}

nav a:hover{
    background-color: #804915;
    color: black;
}

nav a:visited{
    text-decoration: underline;
}

nav a:active{
    font-weight: bold;
}


article{
    margin-bottom: 16px;
}

article img {
    float:left;
 }

 /* turn off the float settings */
.clear-float{
    clear: both;
}

/* for the table */
.right-content{
    float: left;
    margin-left: 3%;
}

footer{
    background-color: #012C34;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-top: 3px dashed white;
}
